body {
	background-image: url("../imgs/MainPage.jpg");
	padding-top: 3%;
	padding-bottom: 5%;
	background-size: cover;
}

.container{
    justify-content: center;
    align-items: center;
}

.navbar
{
	min-height: 57px;
}