<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>User Created</title>
    <div th:replace="common/common-header :: common-header"/>

</head>

<body>
<div class="container">
<h4>Congratulations, User created successfully</h4>

<br><br><br>

<form th:action="@{/../task/list}" method="GET">
    <div class="login-register">
        <button type="submit" class="btn btn-dark btn-lg btn-block">Go to Login page</button>
    </div>
</form>

</div>
</body>
</html>